<app-auth-card
  [title]="'Sign in to DocVault'"
  [showGoogle]="true"
  (googleContinue)="continueWithGoogle()"
>
  <form card-body class="mt-8 space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-form-error [error]="error" (onClose)="onErrorClose()" />
    <div class="flex flex-col space-y-1 mt-2">
      <label for="login-identifier" class="font-semibold">Username or email</label>
      <p-input-group>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          id="login-identifier"
          type="text"
          formControlName="identifier"
          [ngClass]="{
            'p-invalid': isInvalid('identifier'),
            'p-valid': isValid('identifier')
          }"
          [attr.aria-invalid]="isInvalid('identifier')"
        />
      </p-input-group>
      @if (isInvalid('identifier')) {
      <p-message severity="error" variant="simple" size="small">
        Username or email is required
      </p-message>
      }
    </div>

    <div class="flex flex-col space-y-1">
      <label for="login-password" class="font-semibold">Password</label>
      <p-input-group>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <p-password
          inputId="login-password"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          [inputStyleClass]="
            isInvalid('password') ? 'p-invalid' : isValid('password') ? 'p-valid' : ''
          "
        />
      </p-input-group>
      @if (isInvalid('password')) {
      <p-message severity="error" variant="simple" size="small">Password is required</p-message>
      }

      <div class="mt-1 flex items-center justify-between">
        <div class="flex items-center">
          <p-check-box [binary]="true" formControlName="rememberMe" size="small" class="mr-1" />
          <label class="font-thin small-label">Remember me</label>
        </div>

        <div>
          <a class="small-label doc-link" routerLink="/initiatePasswordReset">Forgot password?</a>
        </div>
      </div>
    </div>

    <div class="flex justify-center w-full mt-8">
      <button pButton class="w-2/3 !rounded font-semibold" type="submit">Sign in</button>
    </div>
  </form>

  <div card-footer class="flex justify-center w-full gap-1 my-3">
    <span class="font-light">Don't have an account?</span>
    <a class="small-label doc-link" routerLink="/register">Sign up</a>
  </div>
  <div card-footer class="flex justify-center w-full my-3">
    <a class="small-label doc-link" routerLink="/">Continue as guest</a>
  </div>
</app-auth-card>
