<div class="flex flex-col">
    <p-dataview #dc [value]="searchStore.items().content">
        <ng-template #list let-items>
            <div class="flex flex-col gap-1">
                @for (item of items; track item.id) {
                <app-simple-document [document]="item" [currentUserLogin]="currentUserLogin()" (deleted)="refresh()" />
                }
            </div>
        </ng-template>
    </p-dataview>
    <app-paginator [total]="searchStore.items().totalElements" [sizeOptions]="limitOptions()" [page]="page()"
        [size]="size()" (pageChange)="onPageChange($event)" (sizeChange)="onSizeChange($event)" />
</div>