<div class="flex items-center" [ngClass]="isSimplePaginator() ? 'justify-center' : 'justify-end'">
  @if (!isSimplePaginator()) {
  <span class="mx-1">Items per page:</span>
  <p-select
    [options]="sizeOptionsFull()"
    optionLabel="label"
    optionValue="value"
    [ngModel]="size()"
    (ngModelChange)="onSizeChange($event)"
  />
  }

  <p-paginator
    [first]="first()"
    [rows]="size()"
    [totalRecords]="total()"
    (onPageChange)="onPageChange($event)"
    [showCurrentPageReport]="!isSimplePaginator()"
    currentPageReportTemplate="{first} - {last} of {totalRecords}"
    [showPageLinks]="isSimplePaginator()"
    [showFirstLastIcon]="!isSimplePaginator()"
    [pageLinkSize]="3"
  ></p-paginator>
</div>
