<app-auth-card [title]="'Set new password'">
  <form card-body [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-8 space-y-4">
    <app-form-error [error]="error" (onClose)="onErrorClose()" />
    <div class="flex flex-col space-y-1">
      <label class="font-semibold">Password</label>
      <p-input-group>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <p-password formControlName="password" [feedback]="false" [toggleMask]="true" [inputStyleClass]="
            isInvalid('password') ? 'p-invalid' : isValid('password') ? 'p-valid' : ''
          " />
      </p-input-group>
      <!-- prettier-ignore -->
      @if (isInvalid('password')) {
      @if(hasError('password', 'required')) {
      <p-message severity="error" variant="simple" size="small">Password is required</p-message>
      } @else if(hasError('password', 'minlength')) {
      <p-message severity="error" variant="simple" size="small">
        Password should be at least 8 characters long
      </p-message>
      } }
    </div>

    <div class="flex flex-col space-y-1">
      <label class="font-semibold">Confirm password</label>
      <p-input-group>
        <p-inputgroup-addon>
          <i class="pi pi-lock"></i>
        </p-inputgroup-addon>
        <p-password formControlName="confirmPassword" [feedback]="false" [toggleMask]="true"
          [inputStyleClass]="isMismatched() ? 'p-invalid' : ''" />
      </p-input-group>
      @if (isMismatched()) {
      <p-message severity="error" variant="simple" size="small">Passwords don't match</p-message>
      }
    </div>

    <div class="flex justify-center w-full mt-8">
      <button pButton class="w-2/3 !rounded font-semibold" type="submit">Reset password</button>
    </div>
  </form>
</app-auth-card>