<div class="min-h-screen w-full flex items-center justify-center p-4">
  <p-card
    class="p-4 w-full max-w-md bg-white/10 dark:bg-zinc-900/30 !backdrop-blur-md border border-white/20 dark:border-white/10 !shadow-2xl !rounded"
  >
    <ng-template pTemplate="content">
      <div class="flex flex-col items-center">
        <app-logo />
        <h1 class="text-2xl font-semibold tracking-tight">Set new password</h1>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-8 space-y-4">
        @if (invalidToken) {
        <p-message
          severity="error"
          class="inline-block flex w-full justify-between"
          [closable]="true"
          (onClose)="onErrorClose()"
        >
          Password reset token is invalid.
        </p-message>
        } @else if (expiredToken) {
        <p-message
          severity="error"
          class="inline-block flex w-full justify-between"
          [closable]="true"
          (onClose)="onErrorClose()"
        >
          Password reset token has expired.
        </p-message>
        }
        <div class="flex flex-col space-y-1">
          <label class="font-semibold">Password</label>
          <p-input-group>
            <p-inputgroup-addon>
              <i class="pi pi-lock"></i>
            </p-inputgroup-addon>
            <p-password
              formControlName="password"
              [feedback]="false"
              [toggleMask]="true"
              [inputStyleClass]="
                isInvalid('password')
                  ? 'p-invalid'
                  : isValid('password')
                  ? 'p-valid'
                  : ''
              "
            />
          </p-input-group>
          <!-- prettier-ignore -->
          @if (isInvalid('password')) {
              @if(hasError('password', 'required')) {
          <p-message severity="error" variant="simple" size="small">Password is required</p-message>
          } @else if(hasError('password', 'minlength')) {
          <p-message severity="error" variant="simple" size="small">
            Password should be at least 8 charecters long
          </p-message>
          } }
        </div>

        <div class="flex flex-col space-y-1">
          <label class="font-semibold">Confirm password</label>
          <p-input-group>
            <p-inputgroup-addon>
              <i class="pi pi-lock"></i>
            </p-inputgroup-addon>
            <p-password
              formControlName="confirmPassword"
              [feedback]="false"
              [toggleMask]="true"
              [inputStyleClass]="
                isMismatched() ? 'p-invalid' : ''
              "
            />
          </p-input-group>
          @if (isMismatched()) {
          <p-message severity="error" variant="simple" size="small">
            Passwords don't match
          </p-message>
          }
        </div>

        <div class="flex justify-center w-full mt-8">
          <button pButton class="w-2/3 !rounded font-semibold" type="submit">Reset password</button>
        </div>
      </form>
    </ng-template>
  </p-card>
</div>
