@import "primeicons/primeicons.css";

html.app-dark {
  --app-bg-surface: var(--p-surface-950);
  --app-bg-primary-per: 20%;
}

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --app-bg-surface: var(--p-surface-0);
  --app-bg-primary-per: 35%;
  --link: var(--p-primary-color);
  --link-hover: var(--p-primary-400);
}

html body {
  background: linear-gradient(
    135deg,
    var(--app-bg-surface) 0%,
    color-mix(
        in srgb,
        var(--p-primary-color) var(--app-bg-primary-per),
        transparent
      )
      100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

app-root {
  position: relative;
  z-index: 1;
}

body::after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  width: min(65vmin, 650px);
  height: min(65vmin, 650px);
  z-index: 0;
  opacity: 0.35;

  background: linear-gradient(
    90deg,
    color-mix(in srgb, var(--p-primary-color) 40%, transparent) 1px,
    transparent 1px
  );

  background-size: 35px 60px;

  -webkit-mask-image: radial-gradient(
    80% 80% at 90% 90%,
    #000 0%,
    transparent 70%
  );
  mask-image: radial-gradient(80% 80% at 90% 90%, #000 0%, transparent 70%);
}

a {
  color: var(--link);
  transition: color .2s ease;
}

a:hover {
  color: var(--link-hover);
  cursor: pointer;
}

.cdk-overlay-container .theme-popup .p-button.p-button-text {
  color: var(--p-text-color);
  background: transparent;
  border: none;
}

.cdk-overlay-container .theme-popup .p-button.p-button-text:hover,
.cdk-overlay-container .theme-popup .p-button.p-button-text:active {
  color: var(--p-text-color);
  background: var(--p-form-field-filled-hover-background);
}

.cdk-overlay-container .theme-popup .icon-item.p-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  line-height: 1;
}

.cdk-overlay-container .theme-popup .icon-item .p-button-icon {
  font-size: 1.1rem;
}
.cdk-overlay-container .theme-popup .icon-item .p-button-label {
  font-size: 0.75rem;
}
