<app-auth-card
  [title]="'Forgot password?'"
  [subtitle]="'No worries, we will send you reset instructions.'"
>
  <form card-body [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4 space-y-4">
    <app-form-error [error]="error" (onClose)="onErrorClose()" />
    <div class="flex flex-col space-y-1">
      <label class="font-semibold">Email</label>
      <p-input-group>
        <p-inputgroup-addon>
          <i class="pi pi-at"></i>
        </p-inputgroup-addon>
        <input
          pInputText
          type="email"
          formControlName="email"
          [ngClass]="{
            'p-invalid': isInvalid('email'),
            'p-valid': isValid('email')
          }"
          [attr.aria-invalid]="isInvalid('email')"
        />
      </p-input-group>
      <!-- prettier-ignore -->
      @if (isInvalid('email')) { 
          @if(hasError('email', 'required')) {
      <p-message severity="error" variant="simple" size="small">Email is required</p-message>
      } @else if (hasError('email', 'email')) {
      <p-message severity="error" variant="simple" size="small">Not a valid email</p-message>
      } }
    </div>

    <div card-footer class="flex justify-center w-full mt-5">
      <button pButton class="w-2/3 !rounded font-semibold" type="submit">Reset password</button>
    </div>
  </form>
</app-auth-card>