<div class="min-h-screen w-full flex items-center justify-center p-4">
  <p-card
    class="p-4 w-full max-w-md bg-white/10 dark:bg-zinc-900/30 !backdrop-blur-md border border-white/20 dark:border-white/10 !shadow-2xl !rounded"
  >
    <ng-template pTemplate="content">
      <div class="flex flex-col items-center space-y-2">
        <app-logo />
        <h1 class="text-2xl font-semibold tracking-tight">
          Sign up for DocVault
        </h1>
      </div>

      <form>
        
      </form>
    </ng-template>
  </p-card>
</div>
